<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/ebay.js"></script>
<div class="ui massive menu">
    <a class="item" href="/">
        <h1 class="ui white inverted header">CollectBay</h1>
    </a>


    <div class="right menu">
        <a class="item" href="/collect">
            <h4 class="ui white inverted header">Collect</h4>
        </a>
        <a class="item" href="/ebay">
            <h4 class="ui white inverted header">Ebay</h4>
        </a>
        <a class="item" href="/connect">
            <h4 class="ui white inverted header">Connect</h4>
        </a>
        <a class="item" href="/dbcollections">
            <h4 class="ui white inverted header">Your Collections</h4>
        </a>
        {{!-- <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search..." />
                <i class="search link icon"></i>
            </div>
        </div> --}}
    </div>

</div>

<div class="ui piled segment center aligned">
    <h1 class="ui header center aligned">Your Collections</h1>
    <h4 class="ui header center aligned">These are your favorite collections saved in the database</h4>
</div>

    <div class="ui raised very padded text container segment">
<table class="ui blue inverted striped table">
  <thead>
    <tr>
      <th scope="col">Collection type</th>
      <th scope="col">Number of items in each collection</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>    

    {{#each collections}}
    <tr>
      <td scope="row">{{collectionType}}</td>
      <td>{{collectionCount}}</td>
      <td>{{id}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>