
<div class="ui massive menu">
  <a class="item" href="/"><h1 class="ui white inverted header">CollectBay</h1></a>


  <div class="right menu">
    <a class="item" href="/collect"><h4 class="ui white inverted header">Collect</h4></a>
    <a class="item" href="/cues"><h4 class="ui white inverted header">Cues</h4></a>
    <a class="item" href="/connect"><h4 class="ui white inverted header">Connect</h4></a>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search..." />
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

</div>

<div class="ui raised very padded text container segment">
  <h2 class="ui inverted white header center aligned">Welcome to CollectBay</h2>
  <div class="ui segment bold center aligned">
    <p>Search for your favourite collections!</p>
    <p>Buy/Sell Your collection items!</p>
    <p>Get updates on your interest and collectibles.</p>
    <p>Connect with people who have your similar interests!</p>
  </div>
</div>
<div class="ui equal width grid">
  <div class="column"></div>
  <div class="column" style="text-align: center;">
    <div class="ui card fluid">
      <div class="image">
        <img src="./assets/img/collect550x550px.jpg">
      </div>
      <div class="content">
        <div class="header">Collect</div>
        <div class="meta">
          <a>Search Collections</a>
        </div>
        <p>Find Interests</p>
      </div>
    </div>
  </div>
  <div class="column" style="text-align: center;">
    <div class="ui card fluid">
      <div class="image">
        <img src="./assets/img/cues550x550px.jpg">
      </div>
      <div class="content">
        <div class="header">Cues</div>
        <div class="meta">
          <a>Search Info</a>
        </div>
        <p>Find News</p>
      </div>
    </div>
  </div>
  <div class="column" style="text-align: center;">
    <div class="ui card fluid">
      <div class="image">
        <img src="./assets/img/connect550x550px.jpg">
      </div>
      <div class="content">
        <div class="header">Connect</div>
        <div class="meta">
          <a>Search Community</a>
        </div>
        <p>Find People</p>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

