<body>
    <div class="ui blue inverted massive menu">
      <a class="item">
        CollectBay
      </a>

      <div class="right menu">
        <a class="item">
          Collect
        </a>
        <a class="item">
          Cues
        </a>
        <a class="item">
          Connect
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="ui raised very padded text container segment">
      <h2 class="ui header">Welcome to CollectBay</h2>
      <p>
        Search for your favourite collections! Buy/Sell Your collction
        items!
      </p>
      <p>
        Get updates on your interest and collectibles. Connect with
        people who have your similar interests!
      </p>
    </div>
    <div class="ui equal width grid">
      <div class="column"></div>
      <div class="column" style="text-align: center;">
        <div class="ui red card">
          <div class="content">
            <div class="header">Collect</div>
            <div class="meta">
              <a>Animals</a>
            </div>
            <div class="image">
              <div class="ui placeholder">
                <div class="image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column" style="text-align: center;">
        <div class="ui teal card">
          <div class="content">
            <div class="header">Cues</div>
            <div class="meta">
              <a>News</a>
            </div>
            <div class="image">
              <div class="ui placeholder">
                <div class="image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" column" style="text-align: center;">
        <div class="ui violet card">
          <div class="content">
            <div class="header">Connect</div>
            <div class="meta">
              <a>Connect</a>
            </div>
            <div class="image">
              <div class="ui placeholder">
                <div class="image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>

  </body>