<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CollectBay</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link href="/views/style.css" />
  </head>
  <body>
    <div class="ui massive menu">
      <a class="item">
        CollectBay
      </a>

      <div class="right menu">
        <a class="item">
          Collect
        </a>
        <a class="item">
          Cues
        </a>
        <a class="item">
          Connect
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="ui raised very padded text container segment">
      <h2 class="ui header">Welcome to CollectBay</h2>
      <p>
        Search for your favourite collections! Buy/Sell Your collction
        items!
      </p>
      <p>
        Get updates on your interest and collectibles. Connect with
        people who have your similar interests!
      </p>
    </div>
    <div class="ui equal width grid">
      <div class="column"></div>
      <div class="column" style="text-align: center;">
        <div class="ui card">
          <div class="content">
            <div class="header">Collect</div>
            <div class="meta">
              <a>Animals</a>
            </div>
            <p>aaaa</p>
          </div>
        </div>
      </div>
      <div class="column" style="text-align: center;">
        <div class="ui card">
          <div class="content">
            <div class="header">Cues</div>
            <div class="meta">
              <a>Animals</a>
            </div>
            <p>aaaa</p>
          </div>
        </div>
      </div>
      <div class="column" style="text-align: center;">
        <div class="ui card">
          <div class="content">
            <div class="header">Connect</div>
            <div class="meta">
              <a>Animals</a>
            </div>
            <p>aaaa</p>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </body>
</html>
