.raised.very.padded {
    background-image: url('/assets/img/math-U5mHl-uACe0-unsplash.jpg'); 
}

.segment.center.aligned{
    background-image: url('/assets/img/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg');
    /* opacity: 40%; */
}
.massive.menu {
    background-color: #2a5bfd;
}

/* .item {
    color: white;
} */

